.customTable {
  border-collapse: collapse;
  width: 100%;
}

.customTable td:first-child {
  width: 20%;
}

.customTable td {
  border: 1px solid black;
  padding: 8px;
}

.customTable tbody tr {
  border: 1px solid black;
}

.customTable td:nth-child(2) {
  width: auto;
}

.transactionCustomTable {
  border-collapse: collapse;
  width: 100%;
}

.transactionCustomTable td:first-child {
  width: 40%;
}

.transactionCustomTable td {
  /* border: 1px solid black; */
  border: none;
  padding: 8px;
}

.transactionCustomTable tbody tr {
  /* border: 1px solid black; */
  border: none;
}

.transactionCustomTable td:nth-child(2) {
  width: auto;
}